 
html {
	height: 100%;
	width: 100%;
	
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 97%;
   	background-image:url('dark-blue-texture.jpg');
   	/*background-image:url('1624557.jpg');*/
     
      
}
#content {
	
	padding: 0 20px 0 12px;
	margin: auto;
	font: 1.5em arial, verdana, sans-serif;
	min-height: 100%;
	min-width: 100%;
}
 
 
 
#round
{
border-width:5px;
padding:0px 0px;

-moz-border-image:url(border.png) 30 30 round; /* Firefox */
-webkit-border-image:url(border.png) 30 30 round; /* Safari and Chrome */
-o-border-image:url(border.png) 30 30 round; /* Opera */
border-image:url(border.png) 30 30 round;
}

#salahCanvas{
padding:10px 10px; 
background: #FCFF;
//width:100%;
border-radius:25px;
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
border: 1px solid #EAC117; 
}

.salahClock{
	

padding:10px 10px; 
border-radius:25px;
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
border: 2px solid #E65C00;
background-color:#f5f5f5;
}
#clock{
padding:10px 10px; 
/*width:100%;*/

border-radius:25px;
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
border: 10px solid #E65C00;
background-color:#f5f5f5;
}   


#top
{
//border: 1px solid #EAC117;
padding-top:10px;
padding-bottom:20px;

/*background:#dddddd;*/
width:100%;
height: 30px;
font-family:'verdana,arial,sans-serif';

color:turquoise;

}

#ticker
{
	
border: 1px solid #EAC117;
padding: 10px;px 10px; 
background:#E65C00;
/*width:100%;*/
border-radius:25px;
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

#Danskticker
{
border: 1px solid #EAC117;
padding:10px 10px; 
background:#EAC117;
/*width:100%;*/
border-radius:25px;
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
}

#staticText
{
border: 1px solid #EAC117;
padding:10px 10px; 
background:#EAC117;

font-size: 50px;
width:100%;
/*height:50%;*/

border-radius:25px;
-moz-border-radius:25px; /* Firefox 3.6 and earlier */
}



.table1{ width: 31%;
  height: 40px;
  color: #fff;
  text-align: center;
  float: left;
  margin: 0px 0px 0px 0px;}


.marquee {position:relative;
      overflow:hidden;
      width:100%;
      height:320px;
      /*border:solid black 1px;*/
      }
